.nav-bar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-name{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.spotlight{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-prev,
.slick-next {
   display:none !important;
}
.scroll-images{
  padding: 10px;
}
.scroll-images>div{
  border: 2px solid #000;
}